@import 'global';

.footer {
    grid-area: footer;
    @extend .links-bar;
    padding: 20px 50px;
    max-height: 100px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-links {
            width: 100%;
            height: 100%;

            &-list {
                display: flex;
                justify-content: space-around;

                li {
                    transition: 0.2s;

                    a {
                        text-decoration: none;
                        color: $black;
                    }

                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
        }
    }
}