#logo {
    height: 40px;
    align-self: center;
}

#burguer-menu {
    height: 40px;
    align-self: center;
    justify-self: left;
    display: none;
}

.links-bar {
    background-color: $primary;
    color: $text-white;
}

body {
    /*font-family: 'Rubik', sans-serif;*/
    background-color: #e9e9e9;
}
