#logo {
    height: 40px;
    align-self: center;
}

#burguer-menu {
    height: 40px;
    align-self: center;
    justify-self: left;
    display: none;
}

.links-bar {
    background-color: $primary;
    color: $text-white;
}

@media (max-width: 1280px) {
    .store__items {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__content {
        grid-template-columns: 1fr;
    }

    .about__content p {
        padding: 30px 0;
    }
}

@media (max-width: 820px) {
    .store__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .faq__content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 540px) {
    .store__items {
        grid-template-columns: 1fr;
    }

    .links__list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 380px) {
    .content__navbar {
        display: none;
    }

    #burguer-menu {
        display: inline-block;
    }
}
