.header {
    grid-area: header;
    @extend .links-bar;
}

.header__content {
    display: flex;
    justify-content: space-between;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.content__navbar {
    display: flex;
}

.content__navbar li {
    padding: 10px;
    transition: 0.2s;
}

.content__navbar li:hover {
    transform: scale(1.15);
}